*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
:root{
    --verde-azul:#008193;
    --amarillo-naranja: #F8AF40;
    --black: #232020;
    --white:#FFF;
    --naranja-rojo: #EB5D2C;
}
html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

header{
    position: relative;
    display: grid; 
    grid-template-columns: 3fr;
    grid-template-rows: 3;
    
    width: 100%;
    min-width: 32rem;
    height: 33.4rem;
    text-align: center;
    background-color: #EBEAEA;
}

header img {
    width: 20rem;
    height: 10rem;
    margin: 2.5rem auto;
    align-items: center;
   
}
.header-title-container{
    width: 90%;
    min-width: 28.8rem;
    margin-left: 1.5rem;
    height:  21.8rem;
    margin-top: 2rem;
    text-align: center;
}
.header-title-container h1 {
    font-size: 2.0rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: black ;
    text-align: center;
}

.header-title-container p {
    margin-top: 4rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
}

.header-title-container .header-button{
    position: absolute;
    left: calc(50% - 118px);
    top: 27rem;
    display: block;
    margin-top: 4rem;
    padding: 1.5rem;
    width: 22.9rem;
    height: 4.8rem;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--verde-azul);
}

.header-button span{
    display: inline-block;
    width: 1.9rem;
    height: 1.9rem;
    margin-left: 0.5rem;
    background-image: url('./assets/bx-down-arrow-alt.svg')
}
main{
    width: 100%;
    height: auto;
    background-color:var(--black);
}


.grid-container{
    display: grid;
    grid-auto-rows: 28rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem,1fr));
    gap: 1rem;
    align-content: space-around;
    justify-content: center;
    align-items: start;
    justify-items: start;
    padding: 5px;
}

main .combos h2{
    padding-top: 4rem;
    color: #F8AF40;
    padding-bottom: 2rem;
    text-align: start;
    font-weight: bold;
    font-size: 3rem;
    margin-left: 4rem;
    
}
.post-container{
   width: 50%;
    
}
.post-container .card-container{
    margin-top: 1rem;
    background-color: var(--white);
    padding: 2px 2px;
    border-radius: 5px;
    margin-bottom: 3.5rem;
    image-rendering: auto;
    width: 15rem;
    min-height: 10.7rem;
    
}

main .combos .grid-container .post-container .title-descrition{
    font-size: 1.3rem;
    font-weight: bold;
    color: black;
}
main .combos .grid-container .post-container .title-descrition .precio{
    
    color: red;
}


main .combos .grid-container .post-container .text-description
    {
    margin-top: 15px;
    background-color: var(--white);
    
    
    
}
main .combos .post-container img{
    width: 15rem;
    height: 15rem;
    border-radius: 20px;
}